<!DOCTYPE html>
<html class="linux firefox gecko"><head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="Description" content="A description of your site for Google here">
    <meta name="keywords" content="Some, keywords, seperated, by, commas, here, max 10">
    <meta name="viewport" content="width=300, target-densitydpi=150, initial-scale=0.999">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Metro UI template | Home</title> 
    
        	<link href="{{ path('_indexnva') }}/demo/demo/css.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="http://nva.devhost/demo/demo/layout.css"><link rel="stylesheet" type="text/css" href="Metro%20UI%20template%20%7C%20Home_files/nav.css"><link rel="stylesheet" type="text/css" href="Metro%20UI%20template%20%7C%20Home_files/tiles.css"><link rel="stylesheet" type="text/css" href="Metro%20UI%20template%20%7C%20Home_files/theme.css"><link rel="stylesheet" type="text/css" href="Metro%20UI%20template%20%7C%20Home_files/plugin_011.css"><link rel="stylesheet" type="text/css" href="Metro%20UI%20template%20%7C%20Home_files/plugin_012.css"><link rel="stylesheet" type="text/css" href="Metro%20UI%20template%20%7C%20Home_files/plugin_002.css"><link rel="stylesheet" type="text/css" href="Metro%20UI%20template%20%7C%20Home_files/plugin_007.css"><link rel="stylesheet" type="text/css" href="Metro%20UI%20template%20%7C%20Home_files/plugin_010.css"><link rel="stylesheet" type="text/css" href="Metro%20UI%20template%20%7C%20Home_files/plugin_005.css"><link rel="stylesheet" type="text/css" href="Metro%20UI%20template%20%7C%20Home_files/plugin_008.css"><link rel="stylesheet" type="text/css" href="Metro%20UI%20template%20%7C%20Home_files/plugin_004.css"><link rel="stylesheet" type="text/css" href="Metro%20UI%20template%20%7C%20Home_files/plugin_006.css"><link rel="stylesheet" type="text/css" href="Metro%20UI%20template%20%7C%20Home_files/plugin.css"><link rel="stylesheet" type="text/css" href="Metro%20UI%20template%20%7C%20Home_files/plugin_003.css"><link rel="stylesheet" type="text/css" href="Metro%20UI%20template%20%7C%20Home_files/plugin_009.css"><style>
html{background-color:#0F6D32;}

		#bgImage { position:fixed; top:0; left:0; z-index:-4; min-width:115%;min-height:100%;
					-webkit-transition:margin-left 450ms linear;
			-moz-transition:margin-left 450ms linear;
			-o-transition:margin-left 450ms;
			-ms-transition:margin-left 450ms;
			transition:margin-left 450ms;
					}
			.tile{
	-webkit-transition-property: box-shadow, margin-left,  margin-top;
	-webkit-transition-duration: 0.25s, 0.5s, 0.5s;
	-moztransition-property: box-shadow, margin-left,  margin-top;
	-moz-transition-duration: 0.25s, 0.5s, 0.5s;
	-o-transition-property: box-shadow, margin-left,  margin-top;
	-o-transition-duration: 0.25s, 0.5s, 0.5s;
	-ms-transition-property: box-shadow, margin-left,  margin-top;
	-ms-transition-duration: 0.25s, 0.5s, 0.5s;
	transition-property: box-shadow, margin-left,  margin-top;
	transition-duration: 0.25s, 0.5s, 0.5s;
	}
</style><script src="Metro%20UI%20template%20%7C%20Home_files/ga.js" async="" type="text/javascript"></script><script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-30159978-1']);_gaq.push(['_trackPageview']);(function(){var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script> 
    <!--[if lt IE 9]>
    <script type="text/javascript" language="javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="js/html5.js">
	<![endif]-->
	<!--[if gte IE 9]>
    <script src="http://code.jquery.com/jquery-2.0.0b2.js"></script>
    <script src="js/html5.js">
	<![endif]-->
    <!--[if !IE]>
    <script src="http://code.jquery.com/jquery-2.0.0b2.js"></script>
	<![endif]-->

    <script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" src="{{asset('/demo/demo/jquery191.js')}}"><\/script>')</script><script type="text/javascript" src="Metro%20UI%20template%20%7C%20Home_files/jquery191.js"></script> 
    <script type="text/javascript" language="javascript" src="Metro%20UI%20template%20%7C%20Home_files/plugins.js"></script>
	<script>
scale = 145;
spacing = 10;
theme = 'theme_default';
$group.titles = ["Home","Download","Support"];
$group.spacingFull = [4,4,4];
$group.inactive.opacity = "1";
$group.inactive.clickable = "1";
$group.showEffect = 0;
$group.direction = "horizontal";

mouseScroll = "1";

siteTitle = 'Metro UI template';
siteTitleHome = 'Home';
showSpeed = 400;
hideSpeed = 300;
scrollSpeed = 550;

device = "desktop";
	scrollHeader = "1";
	disableGroupScrollingWhenVerticalScroll = "";

/*For background image*/
bgMaxScroll= "130";
bgScrollSpeed = "450";

/*For responsive */
autoRearrangeTiles = "1";
autoResizeTiles = "1";
rearrangeTreshhold = 3;
hidePanelOnClick = '1';pageTitles=new Array();pageTitles['typography.php'] = 'Typography';pageTitles['changelog.php'] = 'Changelog and Bugs';pageTitles['features.php'] = 'Features';pageTitles['about.php'] = 'About';pageTitles['tutorials.php'] = 'Docs and Tutorials';pageTitles['contact.php'] = 'Contact';pageTitles['download.php'] = 'Download';pageTitles['buytemplate.php'] = 'Buy Template';pageTitles['demo.php'] = 'Demo sites and examples';</script><script type="text/javascript" src="Metro%20UI%20template%20%7C%20Home_files/plugin_005.js"></script><script type="text/javascript" src="Metro%20UI%20template%20%7C%20Home_files/plugin_006.js"></script><script type="text/javascript" src="Metro%20UI%20template%20%7C%20Home_files/plugin_009.js"></script><script type="text/javascript" src="Metro%20UI%20template%20%7C%20Home_files/desktop.js"></script><script type="text/javascript" src="Metro%20UI%20template%20%7C%20Home_files/plugin_003.js"></script><script type="text/javascript" src="Metro%20UI%20template%20%7C%20Home_files/plugin_007.js"></script><script type="text/javascript" src="Metro%20UI%20template%20%7C%20Home_files/plugin_010.js"></script><script type="text/javascript" src="Metro%20UI%20template%20%7C%20Home_files/plugin_012.js"></script><script type="text/javascript" src="Metro%20UI%20template%20%7C%20Home_files/plugin_008.js"></script><script type="text/javascript" src="Metro%20UI%20template%20%7C%20Home_files/plugin_002.js"></script><script type="text/javascript" src="Metro%20UI%20template%20%7C%20Home_files/plugin.js"></script><script type="text/javascript" src="Metro%20UI%20template%20%7C%20Home_files/plugin_004.js"></script><script type="text/javascript" src="Metro%20UI%20template%20%7C%20Home_files/plugin_011.js"></script><script type="text/javascript" src="Metro%20UI%20template%20%7C%20Home_files/functions.js"></script><script type="text/javascript" src="Metro%20UI%20template%20%7C%20Home_files/main.js"></script><script type="text/javascript" src="Metro%20UI%20template%20%7C%20Home_files/jquery_003.js"></script><script type="text/javascript" src="Metro%20UI%20template%20%7C%20Home_files/jquery_002.js"></script><script type="text/javascript" src="Metro%20UI%20template%20%7C%20Home_files/jquery.js"></script>    <noscript><style>#tileContainer{display:block}</style></noscript>
</head>
<body class="full desktop">
<a href="{{ path('_indexnva') }}">HomeAAAAAAA</a>
<a href="http://google.com">BBBBBBHomeAAAAAAA</a>
<img style="margin-left: 0px;" src="Metro%20UI%20template%20%7C%20Home_files/metro_green.jpg" id="bgImage"><header style="top: 0px;">
	<div id="headerWrapper">
		<div id="headerCenter">
			<div id="headerTitles">
				<h1><a href="#%21">Ngoc Viet Art</a></h1>
		   		<h2>Hon cua da</h2>
		    </div>
		    <nav>
            	<a class="navActive" rel="group0">
	<img src="Metro%20UI%20template%20%7C%20Home_files/home.png">
	Home
</a>
<a class="" rel="group1">
	<img src="Metro%20UI%20template%20%7C%20Home_files/download_s.png">
	Product
 </a>
<a class="" rel="group2">
	<img src="Metro%20UI%20template%20%7C%20Home_files/questionmark.png">
	Contact
</a>
<a class="" rel="group3">
	<img src="Metro%20UI%20template%20%7C%20Home_files/questionmark.png">
	Support
</a>			</nav>
		</div>
    </div>
    </header>
<div style="padding-top: 81px;" id="wrapper">
	<div id="centerWrapper">
  		    	<div class="" style="width: 2667.5px; height: 500px; display: block;" id="tileContainer">
                    		<img style="margin-left: 580px; opacity: 0.5; display: none;" id="arrowLeft" class="navArrows" src="Metro%20UI%20template%20%7C%20Home_files/arrowLeft.png" onclick="javascript:$group.goLeft();">
            	<img style="margin-left: 467px; opacity: 0.5; display: inline;" id="arrowRight" class="navArrows" src="Metro%20UI%20template%20%7C%20Home_files/arrowRight.png" onclick="javascript:$group.goRight();">
       	<a href="#&amp;Home" id="groupTitle0" class="groupTitle" style="margin-left: 0px; margin-top: 0px; display: block; opacity: 1;" onclick="javascript:$group.goTo(0);"><h3>Home</h3></a>
        <a href="#&amp;Download" id="groupTitle1" class="groupTitle" style="margin-left: 620px; margin-top: 0px; display: block; opacity: 1;" onclick="javascript:$group.goTo(1);"><h3>Download</h3></a>
        <a href="#&amp;Support" id="groupTitle2" class="groupTitle" style="margin-left: 1240px; margin-top: 0px; display: block; opacity: 1;" onclick="javascript:$group.goTo(2);"><h3>Support</h3></a>
      	<a href="#%21/about" class="tile group0 " style="margin-top: 45px; margin-left: 0px; width: 300px; height: 145px; background: none repeat scroll 0% 0% rgb(80, 150, 1); display: block; opacity: 1;" data-pos="45-0-300"> 
    	<div class="tileTitle" style="margin-left:10px;">About</div>
	<div class="tileDesc" style="margin-left:12px;">This is a templating framework to make websites based on the Windows 8 Metro UI style.</div>
     
    </a>
      	<a class="tile tileFlip support3D group0 noClick" style="margin-top: 45px; margin-left: 310px; width: 145px; height: 145px; display: block; opacity: 1;" data-pos="45-310-145"> 
    
    <div class="flipContainer">
		<div class="flipFront" style="background:rgb(254, 46, 100);">
        <div class="flipImgWrapper">
        <div class="flipImgCenterer">
        <img src="Metro%20UI%20template%20%7C%20Home_files/window_smaller.png" style="
        width:147px;
               ">
       </div>
        </div>
        </div>
		<div class="flipBack" style="background:rgb(254, 46, 100);"><h4 style="color:#FFF;">And see how the tiles move!</h4></div>
        <div class="tileLabelWrapper top" style="border-top-color:rgb(204, 26, 70);"><div class="tileLabel top">It's repsonive!</div></div>	</div>
    </a>
      	<a href="#%21/typography" class="tile group0 " style="margin-top: 200px; margin-left: 0px; width: 145px; height: 145px; background: none repeat scroll 0% 0% rgb(17, 82, 143); display: block; opacity: 1;" data-pos="200-0-145"> 
    <div style="line-height:30px; margin-top:5px;">

<div style="color:#FFF;font-size:43px;line-heigt:70px;"><strong>CHECK</strong></div>
<span style="color:#FFF;font-size:32px;"><strong>OUT</strong></span><span style="color:#CCC;font-size:32px;">THE</span>

<div style="font-size:57px;line-height:30px;">TYPO</div>
<div style="font-size:37px;line-height:40px;">GRAPHY</div>
</div>        </a>
      	<a href="#%21/features" class="tile group0 " style="margin-top: 200px; margin-left: 155px; width: 300px; height: 145px; background: none repeat scroll 0% 0% rgb(255, 128, 0); display: block; opacity: 1;" data-pos="200-155-300"> 
    	<div class="tileTitle" style="margin-left:10px;">Features</div>
	<div class="tileDesc" style="margin-left:12px;">Many tiles, slideshows,
 livetiles, many animations, works in all major browsers, SEO optimized,
 JS &amp; CSS compressing system, Mobile-ready.</div>
     
    </a>
      	<a href="#%21/demo-sites-and-examples" class="tile tileSlideFx group0" style="margin-top: 355px; margin-left: 0px; width: 300px; height: 145px; background: none repeat scroll 0% 0% rgb(51, 51, 51); display: block; opacity: 1;" data-pos="355-0-300"> 
      
    <div class="slideText" style="">
   	 Demo's and examples    </div>
    
	<div class="tileLabelWrapper bottom"><div class="tileLabel bottom" style="border-bottom-color:rgb(80,150,1);">Demos</div></div> 
   
    <div style="width: 75px; background-image: url(&quot;img/metro_300x145.png&quot;);" class="slice s1"><span class="overlay" style="width:75px;"></span>					<div class="slice s2" style="background-position: -75px 0px; width: 75px; background-image: url(&quot;img/metro_300x145.png&quot;);"><span class="overlay" style="width:75px;"></span>					<div class="slice s3" style="background-position: -150px 0px; width: 75px; background-image: url(&quot;img/metro_300x145.png&quot;);"><span class="overlay" style="width:75px;"></span>					<div class="slice s4" style="background-position: -225px 0px; width: 75px; background-image: url(&quot;img/metro_300x145.png&quot;);"><span class="overlay" style="width:75px;"></span>					</div></div></div></div></a>
      	<a href="#%21/download" class="tile group1 " style="margin-top: 45px; margin-left: 620px; width: 300px; height: 145px; background: none repeat scroll 0% 0% rgb(17, 82, 143); display: block; opacity: 1;" data-pos="45-620-300"> 
        <img style="float:left; margin-top:15px;margin-left:15px;" src="Metro%20UI%20template%20%7C%20Home_files/download_s.png" width="50" height="50">
    	<div class="tileTitle" style="margin-left:75px;">Get it now!</div>
	<div class="tileDesc" style="margin-left:77px;">Available in full and lite versions.</div>
     
    </a>
      	<a href="#%21/changelog-and-bugs" class="tile tileSlide up group1 " style="margin-top: 200px; margin-left: 620px; width: 145px; height: 145px; background: none repeat scroll 0% 0% rgb(0, 191, 255); padding: 0px; display: block; opacity: 1;" data-pos="200-620-145" data-doslide="1"> 
    
    
    <div class="slideText" style="height: 29px; width: 100%; top: 145px;">For V4 Alpha 3    </div>
    <div style="margin-top: 0px; margin-left: 0px;" class="imageWrapper">
    	<div class="imageCenterer" style="width:145px; height:145px;line-height:143px;">
			<img src="Metro%20UI%20template%20%7C%20Home_files/bug.png" style="width:87px;"> 
        </div>
		<div class="tileLabelWrapper bottom"><div class="tileLabel bottom" style="border-bottom-color:#11528f;">Bugs &amp; Changelog</div></div></div> 
   
    </a>
      	<a href="http://metro-webdesign.info/panels/credits.php" id="tileScroll1_1-1" class="tile tileScroll group1 " style="margin-top: 200px; margin-left: 775px; width: 300px; height: 145px; background: none repeat scroll 0% 0% rgb(105, 80, 171); display: block; opacity: 1;" data-pos="200-775-300"> 
    	<div class="tileTitle" style="margin-left:10px;">This project uses...</div>
	<div class="divScroll" style="margin-left: 12px; opacity: 0.677376; margin-top: -4.83936px;">...JSminPlus</div>
    <script>scrollTile("1_1-1",["...jQuery","...JSminPlus","...ACE editor"],2000,0)</script>
        </a>
      	<a href="#%21/docs-and-tutorials" class="tile group2 " style="margin-top: 45px; margin-left: 1240px; width: 300px; height: 145px; background: none repeat scroll 0% 0% rgb(255, 128, 0); display: block; opacity: 1;" data-pos="45-1240-300"> 
    <div style="line-height:30px;margin-top:30px;padding:5px;margin-left:20px;">
	<span style="color:#EEE;font-size:42px;letter-spacing:0px;">Tutorials</span> 
	<span style="color:#FFF;font-size:24px;letter-spacing:0px;font-style:italic;">info</span> 
	<span style="color:#FFF;font-size:50px;letter-spacing:4px;font-weight:bold;">DOCS</span> 
	<span style="color:#CCC;font-size:36px;letter-spacing:0px;line-height:30px;">Tips</span>
	</div>    <div class="tileLabelWrapper top" style="border-top-color:rgb(205, 88, 0);"><div class="tileLabel top">Get started or get further</div></div>    </a>
      	<a href="http://metro-webdesign.info/forum/" class="tile tileFlip support3D group2" style="margin-top: 200px; margin-left: 1240px; width: 145px; height: 145px; display: block; opacity: 1;" data-pos="200-1240-145"> 
    
    <div class="flipContainer">
		<div class="flipFront" style="background:#c82345;">
        <div class="flipImgWrapper">
        <div class="flipImgCenterer">
        <img src="Metro%20UI%20template%20%7C%20Home_files/forum.png" style="
        width:103.5px;
               ">
       </div>
        </div>
        </div>
		<div class="flipBack" style="background:#c82345;"><h3>Forum</h3></div>
        	</div>
    </a>
      	<a href="#%21/contact" class="tile tileFlip support3D group2" style="margin-top: 45px; margin-left: 1550px; width: 145px; height: 145px; display: block; opacity: 1;" data-pos="45-1550-145"> 
    
    <div class="flipContainer">
		<div class="flipFront" style="background:#dea317;">
        <div class="flipImgWrapper">
        <div class="flipImgCenterer">
        <img src="Metro%20UI%20template%20%7C%20Home_files/mail.png" style="
        width:103.5px;
               ">
       </div>
        </div>
        </div>
		<div class="flipBack" style="background:#dea317;"><h3 style="font-size:20px;">Contact me</h3></div>
        	</div>
    </a>
      	<a target="_blank" href="http://metro-webdesign.info/v3/" class="tile tileImg group1 bottom endGroup" style="margin-top: 45px; margin-left: 930px; width: 145px; height: 145px; background: none repeat scroll 0% 0% rgb(80, 150, 1); display: block; opacity: 1;" data-pos="45-930-145"> 
    <img src="Metro%20UI%20template%20%7C%20Home_files/v3.png" style="margin-left:-72.5px; margin-top: -72.5px; max-height:145px;" width="145">
    <div class="tileLabelWrapper bottom"><div class="tileLabel bottom" style="border-bottom-color:#509601;">Template V3</div><div class="imgDesc" style="height: 34px; padding-top: 5px; margin-top: 0px; padding-bottom: 5px; margin-bottom: 0px; display: none;">The old version of the template.</div>    </div>
    </a>
            </div> 
                <div style="display: none;" id="subNavWrapper"></div>
    	<div style="display: none;" id="contentWrapper">   		    
	   		            <div id="content">	        	
					        </div>
    	    		</div>
            </div>
	<footer>
		© Thomas Verelst    </footer>
    </div> 
<div id="catchScroll"></div>
<div id="panel" style="max-width:400px;right:-400px;background-color:#444;">
	<img id="panelArrow" src="Metro%20UI%20template%20%7C%20Home_files/arrow.png" onclick="javascript:hidePanel();">
	<img id="panelLoader" src="Metro%20UI%20template%20%7C%20Home_files/loader.gif">
	<div id="panelContent">
	</div>
	</div>
</body></html>